/** for hidding left ribbon entirely */
.focus-mode.hide-ribbon div.workspace-ribbon,
.focus-mode.hide-ribbon
  div.workspace-ribbon.mod-left
  > :not(.side-dock-actions),
.focus-mode.hide-ribbon
  div.workspace-ribbon.mod-left
  .side-dock-ribbon-action:not([aria-label="Toggle Focus Mode (Shift + Click to show active pane only)"]) {
  display: none;
}
.focus-mode.hide-ribbon div.workspace-ribbon.mod-left {
  display: block;
  position: absolute !important;
}

/** for transparent left ribbon */
.focus-mode div.workspace-ribbon {
  visibility: hidden;
}
.focus-mode div.workspace-ribbon:not(.mod-left) {
  display: none;
}
.focus-mode .side-dock-ribbon-action[aria-label*="Toggle Focus Mode"] {
  visibility: visible;
}
