.focus-mode.plugin-tabs .stayopen div.view-header > :not(.view-header-title-container) {
  display: none;
}

.focus-mode.plugin-tabs div.view-header {
  display: flex;
}
.focus-mode.plugin-tabs div.view-actions {
  display: none;
}
